* {
	background-color: var(--color);
	max-height: 100vh;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.dices {
	padding: 17px;
	column-count: 5;
	column-fill: balance;
}

:root {
	--color: rgb(58, 2, 4);
	--btn-hover: linear-gradient(
		45deg,
		yellow,
		rgb(233, 247, 48),
		rgb(247, 243, 54),
		rgb(238, 217, 99),
		rgb(255, 177, 100),
		rgb(252, 185, 40),
		rgb(248, 163, 52),
		rgb(255, 166, 0)
	);
}

h1 {
	color: goldenrod;
	cursor: pointer;
}

.headings {
	padding: 10px;
	column-count: 5;
	column-fill: balance;
}

.credits {
	column-count: 5;
	column-fill: balance;
	color: rgb(253, 175, 7);
}

.text-center {
	color: goldenrod;
	text-align: center;
	font-weight: bolder;
	font-size: large;
}

.dices-computer-player {
	column-count: 1;
}

.dices-player {
	column-count: 1;
}

.message {
	padding: 60px;
}

.message-box {
	max-width: 400px;
	min-height: 48px;
	margin: auto;
	border: 3px solid;
	border-radius: 20px;
	font-weight: 700;
	box-shadow: 0px 2px 8px goldenrod;
}
.message-box:hover {
	color: gold;
	transition: 0.5s;
	box-shadow: 0px 3px 9px gold;
}

.controls {
	padding: 50px;
	column-count: 6;
	column-fill: balance;
}

button {
	color: goldenrod;
	background-color: black;
	width: 95%;
	padding: 12px 40px;
	border: 3px solid goldenrod;
	border-radius: 20px;
	font-weight: bolder;
	font-size: medium;
	transition-timing-function: ease;
	box-shadow: 0 8px 16px 0 rgba(252, 214, 1, 0.2), 0 6px 20px 0 rgba(37, 37, 37, 0.19);
}

button:disabled {
	background-color: gray;
	color: white;
}

span {
	color: rgb(251, 248, 248);
}

h1:hover {
	color: yellow;
	transition: 1s;
}

button:hover {
	border: 3px solid darkgoldenrod;
	background-image: var(--btn-hover);
	color: black;
	transform: translateY(-3px);
	transition: 0.9s;
}

.ronden {
	color: goldenrod;
	font-size: large;
	float: left;
	margin: 3px;
}
